/* Calendar.css */

.calendar-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  width: 60%;
  height: 70%;
  font-family: 'Arial', sans-serif;
  background-color: black;
  border-radius: 20px;
}

.calendar-header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-radius: 20px 20px 0px 0px;
  color: white;
  transition: transform 0.5s ease;
  /* border-bottom: 1px solid whitesmoke; */
}

hr{
  /* border-top: 8px solid whitesmoke; */
  color: whitesmoke;
  border-radius: 5px;
  width: 80%;
  margin: auto;

}

.month-buttons {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: whitesmoke;
  padding: 10px;
}

.month-buttons:active {
  background: none;
  border: 1px solid white;
  cursor: pointer;
  font-size: 16px;
  color: whitesmoke;

}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;
  color: white;
  padding: 20px;
  transition: transform 0.5s ease;
}

.weekday {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid rgb(149, 227, 101);
  position: relative;
}

.faded-day {
  color: #999;
  border: 1px solid rgb(153, 153, 153, .3);
  cursor: pointer;
}

.day:hover {
  background-color: grey;
  border-radius: 5px;
}

.day:active {
  background-color: grey;
  border-radius: 5px;
  border: 1px solid #fff;
}

.selected {
  background-color: #3498db;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
}

.event-indicator {
  position: absolute;
  bottom: 2px;
  right: 2px;
  width: 6px;
  height: 6px;
  background-color: #ff0000;
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  .calendar-container {
    flex-direction: column;
    align-items: top;
  }

  .calendar {
    width: 300px;
    border-radius: 12;
  }

  .calendar-header {
    border-radius: 0;
  }

  .days {
    padding: 10px;
  }

  .weekday,
  .day {
    height: 40px;
  }
}
