/* Calendar.css */

.calendar-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: top;
  padding-top: 10px;
  
}

/* .calendar {
  width: 60%;
  height: 90%;
  font-family: 'Arial', sans-serif;
  background-color: rgb(245, 245, 245, 0.7);
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #3498db;
  background-color: rgb(255, 255, 255);
} */

.calendar {
  width: 60%;
  height: 90%;
  font-family: 'Arial', sans-serif;
  background-color: rgba(255, 255, 255, 0.65); 
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #3498db;
}

.dark-mode .calendar {
  background-color: rgba(255, 255, 255, 0.65); 
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  box-shadow: 0 0 5px rgba(223, 218, 248, 0.2);
  border: 1px solid #5e5b7033;
}

.light-mode .calendar {
  background-color: rgba(255, 255, 255, 0.65); 
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #4667ba;
}



.dark-mode .calendar-header h2{
  color: rgb(255, 255, 254);
}

.dark-mode .days{
  color: rgb(255, 255, 254);
}


.light-mode  .calendar-header h2 {
  color: rgb(49, 49, 49);
}

.light-mode .days {
  color: rgb(49, 49, 49);
}

.calendar-header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-radius: 20px 20px 0px 0px;
  /* color: white; */
  color: black;
  /* transition: transform 0.5s ease; */
  /* border-bottom: 1px solid whitesmoke; */
}




hr{
  border-bottom: 1px solid #000000; 
  border-radius: 5px;
  width: 60%;
  margin: auto;

}

.dark-mode hr{
  border-bottom: 1px solid rgb(255, 255, 254);
}

.light-mode hr{
  border-bottom: 1px solid rgb(49, 49, 49);
}

.month-buttons {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  /* color: whitesmoke; */
  color: black;
  padding: 10px;
}

.month-buttons:active {
  background: none;
  /* border: 1px solid white; */
  border: 1px solid black;
  cursor: pointer;
  font-size: 16px;
  color: black;

}


.dark-mode .month-buttons {
  color: rgb(255, 255, 254);
}

.dark-mode .month-buttons:active {
  border: 1px solid rgb(255, 255, 254);
}

.light-mode .month-buttons {
  color: rgb(49, 49, 49);
}

.light-mode .month-buttons:active {
  border: 1px solid rgb(49, 49, 49);
}


.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;
  /* color: white; */
  color: black;
  padding: 20px;
  transition: transform 0.5s ease;
}

.weekday {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.dark-mode .day{
  border: 1px solid rgb(255, 255, 254);
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  /* border: 1px solid rgb(149, 227, 101); */
  border: 1px solid black;
  position: relative;
}

.dark-mode .faded-day {
  color: #999;
  border: 1px solid rgb(153, 153, 153, .3);
  cursor: pointer;
}

.faded-day {
  color: #999;
  border: 1px solid rgb(153, 153, 153, .3);
  cursor: pointer;
}

.day:hover {
  /* background-color: grey; */
  background-color: rgb(234, 234, 234);
  border-radius: 5px;
}

.day:active {
  background-color: grey;
  border-radius: 5px;
  border: 1px solid #fff;
}

.dark-mode .selected {
  background-color: #1B2338;
}

.light-mode .selected {
  background-color: #4667ba;
}

.selected {
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
}

.event-indicator {
  position: absolute;
  bottom: 2px;
  right: 2px;
  width: 6px;
  height: 6px;
  background-color: #ff0000;
  border-radius: 50%;
}

@media only screen and (max-width: 705px) {
  .calendar-container {
    flex-direction: column;
    align-items: top;
  }

  .calendar {
    width: 100%;
    border-radius: 12;
    height: 100%;
  }


  .calendar-header {
    border-radius: 0;
  }

  .days {
    padding: 10px;
  }

  .weekday,
  .day {
    height: 40px;
  }
}
