/* EventCard.css */
.event-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px;
    border-left: 3px thick #ccc;
    position: relative;
    


  }
  
  .event-time {
    font-size: 14px;
    color: #333;
    font-weight: 600;
  }
  
  .event-details {
    flex-grow: 1;
    margin: 0 10px;
  }
  
  .event-name {
    font-size: 16px;
    margin-top: 2px;
  }
  
  .event-type {
    font-size: 12px;
    color: #555;
    border-radius: 20px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
    padding: 7px;
  }
  
  .kebab-menu {
    font-size: 18px;
    cursor: pointer;
    color: #777;
    
  }

  .menu-options {
    position: absolute;
    bottom: 50%; /* Position above the card */
    right: 15px;
    background-color: rgb(255, 255, 255, .9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid white;
    padding: 2px;
    display: flex;
    flex-direction: column;
    z-index: 1; /* Ensure the menu is above other elements */

  }

  .menu-options-item{
    background-color: transparent;
  }

  .menu-options-item:hover{
    border-radius: 8px;
    background-color: rgb(149, 227, 101);
    color: white;

  }
  
  .menu-options > div {
    padding: 8px;
    cursor: pointer;
  }
  
  
  