/* EventsList.css */
.events-list {
    width: 100%;
    height: 100%;
    background-color: rgb(245, 245, 245, 0.7);
    /* padding: 10px; */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-top: .5% ;
    margin-bottom: .5%;
    border-radius: 12px;
    border: 1px solid #3498db;
  }
  
  .events-list h2 {
    margin: 10px;
  }

  .selected-date-weekday{
    font-weight: bold;
    margin-right: 5px;
  }

  .selected-date-date{
    font-weight: 300;
  }

.date-and-weekday{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
  margin: 20px;
}
  
  .events-list ul {
    list-style: none;
    padding: 0;
  }
  
  .events-list li {
    margin-bottom: 8px;
  }

  .default-events-list{
    margin: 10px;
    display: flex;
    justify-content: center;
  }


  @media only screen and (max-width: 600px) {

    .events-list {
      width: 90%;
      background-color: rgb(245, 245, 245, 0.7);
      padding: 10px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      margin-top: .5% ;
      margin-bottom: .5%;
      border-radius: 12px;
      border: 1px solid #3498db;
      /* display: flex;
      justify-content: center;
      align-items: center; */
    }
    
    .events-list h2 {
      margin-bottom: 10px;
    }
    
    .events-list ul {
      list-style: none;
      padding: 0;
    }
    
    .events-list li {
      margin-bottom: 8px;
    }
  
  }
  