/* ViewModal.css */
.view-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 25;
}

.view-modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative; /* Added position relative */
  z-index: 50;
}

.view-modal .close-button {
  background-color: #ccc;
  color: #333;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px; /* Adjusted padding */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.view-modal h2 {
  margin-bottom: 10px;
}

.view-modal p {
  margin-bottom: 10px;
}

.view-modal-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.view-modal-buttons button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  border: 2px solid black;
}

.view-modal-buttons button:nth-child(2) {
  background-color: #ff5757;
  color: white;
}

.view-modal .close-button:hover {
  background-color: none;
}
