* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.App {
  height: 100vh;
}

.master-container {
  width: 100%;
  height: 100%;
  background-color: rgb(149, 227, 101);
  display: flex;
  flex-direction: row;
   height: calc(100% - 57px);
}

.proximity-calendar-container{
  width: 75%;
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

}

.master-events-container{
  width: 25%;
  padding: 10px;

  /* background-color: aliceblue; */
}

.upcoming-events-title{
  color: white;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 20px;
}

@media only screen and (max-width: 600px) {
  .master-container {
    width: 100%;
    height: 100%;
    background-color: rgb(149, 227, 101);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }

  .proximity-calendar-container{
    width: 90%;
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  
  }

  .calendar-container {
    flex-direction: column;
    align-items: stretch;
  }

  .calendar {
    width: 375px;
    border-radius: 0;
  }

  .calendar-header {
    border-radius: 0;
  }

  .days {
    padding: 10px;
  }

  .weekday,
  .day {
    height: 40px;
  }

  .event-indicator {
    display: none;
  }
}
