* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.App {
  height: 100vh;
}

.master-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
   height: calc(100% - 57px);
}

.proximity-calendar-container{
  width: 75%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.master-events-container{
  width: 25%;
  padding: 10px;
}

.dark-mode .upcoming-events-title{
  color: rgb(255, 255, 254);
}

.light-mode .upcoming-events-title{
  color: rgb(49, 49, 49);
}

.upcoming-events-title{
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding-left: 10px;
  padding-top: 20px;
}

.dark-mode .master-container {
  background: linear-gradient(45deg, #7879a1, #0a1426);
}

.light-mode .master-container {
  background: linear-gradient(45deg, #ffffe1, #f5ff99);
}


.light-mode-sun,
.dark-mode-moon {
  position: fixed;
  bottom: 20px;
  left: 20px;
  font-size: 24px;
  transition: transform 0.5s ease-in-out;
}

.moon {
  transform: translateY(0);
  opacity: 1;
}

.sun {
  transform: translateY(100px);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.dark-mode .moon {
  transform: translateY(100px);
  opacity: 0;
}

.dark-mode .sun {
  transform: translateY(0);
  opacity: 1;
}

@media only screen and (max-width: 705px) {
  .master-container {
    width: 100%;
   height: calc(100vh - 57px);
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    /* flex-wrap: inherit; */
    /* justify-content: center; */
    align-items: center;
  }

  .master-events-container{
    width: 100%;
    padding: 10px;
    margin: 10px;
  
  }



  .proximity-calendar-container{
    width: 90%;
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  
  }

  .calendar-container {
    display: flex;
    justify-content: center;

  }

  .calendar {
    width: 100%;
    border-radius: 0;
  }

  .calendar-header {
    border-radius: 0;
  }

  .days {
    padding: 10px;
  }

  .weekday,
  .day {
    height: 40px;
  }

  .event-indicator {
    display: none;
  }

  .master-events-container{
    width: 100%;
    max-height: 100%;
    padding: 0px;
    margin: 10px;
    display: flex;
    justify-content: center;

  
    /* background-color: green; */
  }
}
